.tea_category,
.bags_no,
.bag_size {
  height: 40px;
  width: 30%;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: black;
  font-weight: 100;
  text-align: center;
}
.container {
  margin-left: 250px;
  margin-top: 0px;
  width: 80%;
  height: 50%;
  position: fixed;
  color: #f3f4f3;
}

.a1 {
  position: relative;
  background-color: #1f2327;
  align-content: center;
  padding: 150px;
  margin: 0px;
  margin-left: 40px;
  margin-top: 35px;
  margin-bottom: 130px;
  width: 100%;
  border-radius: 10px;
}
.b1 {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 24px;
}
.b2 {
  display: block;
  font-size: 18px;
  position: absolute;
  top: 50px;
  left: 10px;
}
.mb-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: larger;
}
.mb-6 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  align-items: center;
}
.control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
  color: #000000;
  background-color: #d9d9d9;
}
.control2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  margin-left: 0px;
  color: #000000;
  background-color: #d9d9d9;

  box-sizing: border-box;
  border-radius: 10px;
}
.sale {
  text-align: center;
  margin-bottom: 0px;
  font-size: larger;
}
.container p {
  color: #f3f4f3;
  display: flex;
  text-align: start;
}
/* .mt-7{
    background-color: #54ED50;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    font-size: 23px;
    align-content: center;
    margin-left: 350px;
  } */
.mt-8 {
  background-color: #54ed50;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  padding: 0px;
  font-size: 23px;
  align-content: center;
  margin-left: 50px;
}
.green-leaf {
  text-align: center;
  margin-bottom: 0px;
  font-size: larger;
  color: #50eded;
}
.control2::placeholder {
  text-align: end;
}

.made-tea {
  color: #50eded;
  text-align: center;
  margin-bottom: 0px;
  font-size: larger;
}
