@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #151414; /* Change this to your desired background color */
}

.dashboard,
.reports,
.packing,
.team,
.dispatch,
.support {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #1F2327;
  color: #fff;
  padding-top: 30px;
}

/* Navbar CSS */
.navbar {
  background-color: #151414;
  height: 80px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

.nav-menu {
  background-color: #1F2327;
  width: 250px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 35px;
  bottom: 35px;
  left: 30px;
  border-top-left-radius: 10px;
  overflow-y: auto;
}

.nav-menu-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.company-logo {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}

.company-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 10px;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
  margin-top: 20px; /* Adjust this to move tabs down */
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover,
.nav-text a.active {
  background-color: #164614; /* Highlight color */
  color: #fff; /* Text color when active */
}

.nav-text img {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  object-fit: fill; /* Ensure icons are not distorted */
}

/* Additional styling to ensure items align properly */
.navbar .nav-menu-items {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes the full width */
}

.navbar .nav-menu-items .nav-text {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure it takes the full width */
}

.centered-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout-button {
  background-color: #1F2327;
  border: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  margin-top: auto; /* Push the logout button to the bottom */
}
.logout-button:hover {
  background-color: #4f0505;
}

.logout-button img {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  object-fit: fill;
}
