@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #151414;
}

.dashboard,
.reports,
.packing,
.weekly-report,
.dispatch,
.support {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #1F2327;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 30px;
}

/* Navbar CSS */
.navbar {
  background-color: #151414;
  height: 80px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

.nav-menu {
  background-color: #1F2327;
  width: 250px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 35px;
  bottom: 35px;
  left: 30px;
  border-top-left-radius: 10px;
  overflow-y: auto;
}

.nav-menu-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.company-logo {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}

.company-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 10px;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
  margin-top: 20px; /* Adjust this to move tabs down */
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover,
.nav-text a.active {
  background-color: #164614; /* Highlight color */
  color: #fff; /* Text color when active */
}

.nav-text img {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  object-fit: fill; /* Ensure icons are not distorted */
}

/* Additional styling to ensure items align properly */
.navbar .nav-menu-items {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes the full width */
}

.navbar .nav-menu-items .nav-text {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure it takes the full width */
}

.centered-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout-button {
  background-color: #1F2327;
  border: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  margin-top: auto; /* Push the logout button to the bottom */
}
.logout-button:hover {
  background-color: #4f0505;
}

.logout-button img {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  object-fit: fill;
}

.table-name {
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 10px;
  font-weight: bold;
}

.main-container{
  height: 100vh;
  overflow-y: scroll; 
  overflow-x: hidden; 
  position: relative;
  background-color:  #1f2327;
  align-content: center;
  padding: 150px;
  margin: 0px;
  margin-left: 40px ;
  margin-top: 35px;
  margin-bottom: 130px;
  width: 100%;
  border-radius: 10px;
}


.sub-container {
  height: 100vh;
  position: relative;
  background-color: #1f2327;
  /* align-content: center; */
  padding: 150px;
  margin: 0px;
  margin-left: 40px;
  margin-top: 35px;
  margin-bottom: 130px;
  width: 100%;
  border-radius: 10px;
}


/* report section */

/* Layout for the row */
.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px;
}

/* Styling for each box */
.box {
  background-color: #fff;
  width: 200px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(24, 227, 10, 0.2); /* Adding shadow */
  border-radius: 8px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

/* Hover effect for shadow */
.box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Styling for the button */
.view-btn {
  margin-top: 5px;
  padding: 8px 16px;
  background-color: #00ff08;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-btn:hover {
  background-color: #0056b3;
}

.content h3 {
  font-size: 24px;
  margin: 0;
}


.box-report{
  height: 20vh;
  border-radius: 20px;
  max-width: 50px;
 text-align: center;
 color: white;
 margin: 0 auto;
 margin-top: 5vh;
 box-shadow: 0 0 10px #0066ff;
 display: flex;

}

.b2{
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 12px;
}

.b5{
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 12px;
  color: #00ff08;
}

.b3{
  position: absolute;
  top: 20px;
  left: 68%;
  width: 200px;
  font-size: 12px;
  border-radius: 10px;
 text-align: center;
 color: white;
 margin: 0 auto;
 box-shadow: 0 0 10px #000;
 display: flex;
}
.b4{
  top:20px;
}

.b6{
  top:20px;
  left: 10px;
}


.date-number-selection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2px;
  margin-right: 2px;
}

.date-selection > * {
}

.date-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 5px; 
  background-color: transparent;
  border: 3px solid #575759; 
  margin: 10px;
  cursor: pointer;
}

.date-button.selected {
  background-color: transparent;
  color: #54ed50;
}



.date-selection-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}

.date-selection-div > * {
}

.date-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  background-color: transparent;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.date-button.selected-div {
  background-color: transparent;
  color: #54ed50;
}


.sale-number-selection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.sale-selection > * {
}

.sale-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background-color: transparent;
  border: 2px solid #575759; 
  margin: 10px;
  cursor: pointer;
}

.sale-button.selected {
  background-color: transparent;
  color: #54ed50;
}

.dash-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%; 
  background-color: rgb(23, 23, 23);
  border: 2px solid #575759; 
  cursor: pointer;
}



.sale-selection-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}

.sale-selection-div > * {
}

.sale-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  background-color: transparent;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.sale-button.selected-div {
  background-color: transparent;
  color: #54ed50;
}

.custom-tooltip{
  background-color: transparent;
  color: #54ed50;
}

.test{
  background-color: #ab3da9;
  color: #82ca9d;
  color:#ffb400 ;
  color: #0020ff;
  color:#A020F0 ;
  
}